@model IEnumerable<Webphone._Models.Product>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMn.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hdh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Camera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProImg)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ram)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hdh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Camera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProPrice)
            </td>
                <td>
                    @if (item.ProImg != null && item.ProImg.Length > 0)
                    {
                        <img style="max-width:200px" src="data:image/jpeg;base64,@Convert.ToBase64String(item.ProImg)" alt="Product Image" />
                    }
                    else
                    {
                        <p>No image available</p>
                    }
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
