@model IEnumerable<Webphone._Models.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMn.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustMail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Invoice.InvoiceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login.LoginId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CustId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CustId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
