@model Webphone._Models.LoginInfo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutMn.cshtml";
}

<h1>Details</h1>

<div>
    <h4>LoginInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoginRole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoginRole)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoginStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoginStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LoginId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
